<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2026 Artur Yakymenko -->
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Emaki</vendor>
  <action id="org.emaki.wifi-password">
    <description>Show a saved Wi-Fi password</description>
    <message>Enter an administrator password to show the saved Wi-Fi password.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@EMAKI_LIBEXECDIR@/emaki-wifi-password</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">show</annotate>
  </action>
</policyconfig>
