# Copyright (C) 2026 Artur Yakymenko
# SPDX-License-Identifier: GPL-3.0-or-later
# Machine-specific arguments and personal overrides stay in /etc/default/grub.
GRUB_DEFAULT=0
GRUB_TIMEOUT=5
GRUB_DISTRIBUTOR="Emaki"
GRUB_TOP_LEVEL="/boot/vmlinuz-linux"
GRUB_EARLY_INITRD_LINUX_STOCK=""
GRUB_DISABLE_RECOVERY=true
GRUB_DISABLE_BOOTNEXT=true
GRUB_DISABLE_SUBMENU=y
GRUB_TERMINAL_OUTPUT=gfxterm
GRUB_GFXMODE=1024x768,800x600,640x480,auto
GRUB_GFXPAYLOAD_LINUX=keep
GRUB_BACKGROUND=/usr/share/emaki/grub/background.png
