LABEL arch
TEXT HELP
Try Emaki 0.2.0 alpha from the USB stick on this BIOS computer.
Emaki installs only on computers with UEFI. If the computer's boot menu
offers a UEFI entry for the USB stick, choose it; otherwise this computer
is not supported.
ENDTEXT
MENU LABEL Try Emaki 0.2.0 alpha (BIOS: installing needs UEFI)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% %KERNEL_PARAMS% copytoram=n

# Accessibility boot option
LABEL archspeech
TEXT HELP
Try Emaki 0.2.0 alpha with the speakup screen reader on this BIOS computer.
Emaki installs only on computers with UEFI. If the computer's boot menu
offers a UEFI entry for the USB stick, choose it; otherwise this computer
is not supported.
ENDTEXT
MENU LABEL Try Emaki 0.2.0 alpha (BIOS: installing needs UEFI) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on %KERNEL_PARAMS% copytoram=n
