# Copyright (C) 2026 Artur Yakymenko
# SPDX-License-Identifier: GPL-3.0-or-later
# Recovery remains available when the shell cannot draw its own notification.
[Unit]
Description=Emaki shell recovery prompt
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=kitty --class emaki-shell-recovery --title "Emaki panel recovery" @EMAKI_BINDIR@/emaki-shell recover
Slice=app.slice
